*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$poppins :'Poppins';
$inter: 'Inter';

nav{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-around;
    left: 0;
    align-items: center;
    z-index: 999;
    color: white;
    margin-top: 30px;

    h2{
        font-family: Lekton;
        font-size: 34px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    ul{
        width: 325px;
        height: 19px;
        display: flex;
        justify-content: space-around;
        list-style: none;

        a{
            text-decoration: none;
            color: white;
        }
    }
    button{
        border-radius: 21px;
        padding: 11px;
        color: white;
        background-color: #ffffff50;
        border: 0px;
        cursor: pointer;
        z-index: 9999;
    }
}
#header{
    width: 100%;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: gray;
    
    .main-container{
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        // padding-top: 90px;
        h1{   
        left: 160px;
        top: 370px;
        font-family: $poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 94px;
        line-height: 108px;
        /* or 115% */
        color: #111439;
        background: linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    .main-container-left{
        padding: 50px 0 50px 50px;
        width: 50%;
        z-index: 1;
        p{
            padding: 5px 150px 15px 0;
            color: #425466;
        }
        h1{
            font-weight: bold;
            font-size: 5rem;
        }
        button {
            cursor: pointer;
            font-weight: 700;
            font-family: Helvetica,"sans-serif";
            transition: all .2s;
            padding: 10px 18px;
            border-radius: 100px;
            color: white;
            background: #231A36;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            font-size: 12px;
          }
          
        button:hover {
            background: #362a4e;
        }
          
        button > svg {
            width: 25px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
          
        button:hover svg {
            transform: translateX(5px);
        }
          
        button:active {
            transform: scale(0.95);
        }

          
    }
    .main-container-right{
        // background: url(image/trafic.svg);
        // background-position: right;
        // background-repeat: no-repeat;
        z-index: 2;
        width: 50%;
        height: 706px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    }

    .header-linear{
        height: 480px;
        width: 100%;
        background: url(image/linear.svg);
        position: absolute;
        top: 0;
        z-index: -9999;
    }

    .brand{
        width: 100%;
        height: 116.26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            img{ 
                width: 100px;
                filter: grayscale(1);
            }
        }
    }
}




#feature{
    height: 604px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    .feature-head{
        width: 550px;
        text-align: center;
        margin: 20px 0px;
        h1{
            font-family: $poppins;
            font-weight: 600;
            font-size: 40px;
        }
        p{
            padding: 20px;
            color: #426666;
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;

        }
    }
    .feature-container{
        display: flex;
        align-items: center;
        max-width: 750px;
        margin: 0 0 0 50px;
        h3{
            font-family: $inter;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #B33CDB;
        }
        h2{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: #1F1F26;
            padding: 13px 0;
        }
        p{
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #426666;
        }
        button{
            border: 0px;
            background-color: rgba(255, 255, 255, 0);
            padding: 20px 0;
            display: flex;
            font-weight: 400;
            cursor: pointer;
            svg{
                width: 1rem;
                height: 1rem;
            }
        } 
        button > svg {
            width: 20px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
          
        button:hover svg {
            transform: translateX(5px);
        }
          
        button:active {
            transform: scale(0.95);
        }
    }
}



#community{
    display: flex;
    justify-content: center;
    .community-container{
        max-width: 750px;
        margin: 0 50px 80px 0;
        height: 378px;
        display: flex;
        justify-content: center;
        align-items: center;
        .communtiy-left{
            img{
                height: auto;
            }
        }
        .communtiy-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            max-width: 750px;
            h3{
                font-family: $inter;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
    
                color: #FBBA33;
            }
            h2{
                font-family: $poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: #1F1F26;
                padding: 13px 0;
            }
            p{
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: #426666;
            }
            button{
                border: 0px;
                background-color: rgba(255, 255, 255, 0);
                padding: 20px 0;
                display: flex;
                font-weight: 400;
                cursor: pointer;
                svg{
                    width: 1rem;
                    height: 1rem;
                }
            } 
            button > svg {
                width: 20px;
                margin-left: 10px;
                transition: transform .3s ease-in-out;
            }
              
            button:hover svg {
                transform: translateX(5px);
            }
              
            button:active {
                transform: scale(0.95);
            }
        }
    }
}



#statistic{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #231A36;
    color: white;

    .statistic-text{
        max-width: 650px;
        margin: 0 70px;
        text-align: center;
        h1{
            font-family: $poppins;
            font-weight: 600;
            font-size: 2rem;
        }
        span{
            height: auto;
            font-family: $inter;
            font-size: 14px;
            color: #7B9292;
        }
    }

    .statistic-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        h2{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
        }
        p{
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #7B9292;
        }
    }
}




#service{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .service-text{
        width: 600px;
        margin: 0 60px;
        h1{
            font-family: $poppins;
            font-weight: 600;
            font-size: 40px;
        }
        p{
            font-family: $inter;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.01em;
        }
    }

    .service-container{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 90px;

        
        .card {
            width: 280px;
            height: 240px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            &.satu{
                background: url(image/admin1.svg);
            }
            &.dua {
                background: url(image/admin2.svg);
            }
            &.tiga {
                background: url(image/admin3.svg);
            }
            div{
                width: 220px;
                // height: 175px;
                background-color: white;
                position: absolute;
                top: 70%;
                z-index: 1;
                text-align: left;
                padding: 20px;
                h2{
                    font-size: 1rem;
                    font-family: $poppins;
                    padding: 0 0 14px 0;
                    color: #010420;
                }    
                
                .stat{
                    display: flex;
                    width: 100%;
                    span{
                        width: 100%;
                    }
                    h3{
                        font-size: 24px;
                        font-family: $poppins;
                    }
                    p{
                        font-size: 10px;
                        font-family: $inter;
                        color: #ADADBA;
                    }
                }
                button{
                    border: 0px;
                    color: #B33CDB;
                    background-color: transparent;
                    padding: 20px 0;
                    display: flex;
                    font-weight: 400;
                    cursor: pointer;
                    svg{
                        width: 1rem;
                        height: 1rem;
                    }
                } 
                button > svg {
                    width: 20px;
                    margin-left: 10px;
                    transition: transform .3s ease-in-out;
                }
                  
                button:hover svg {
                    transform: translateX(5px);
                }
                  
                button:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}



#testimonial{
    width: 100%;
    height: 843px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    .testimonal-text{
        text-align: center;
        width: 551px;

        h1{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: #1F1F26;
        }

        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #426666;
        }

    }
    
    .testimonal-container{
        display: flex;
        max-width: 900px;
        height: 479px;
        margin: 0px 30px;
        .testimonal-container-left{
            padding: 0 40px;
            p{
                font-family: $inter;
                font-style: italic;
                font-weight: 500;
                font-size: 22px;
                line-height: 36px;
                color: #6D6D6D;
            }
            img{
                width: 100px;
                height: auto;
            }

            div{
                padding: 40px 0;
            }
        }
        .testimonal-container-right{
            img{    
                width: 300px;
                height: auto;
            }
        }
    }

}



#newsletter{
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    .newsletter-container{
        background: url(image/linear.svg);
        width: 976px;
        max-width: 976px;
        height: 322px;
        border-radius: 10px;
        margin: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: #FFFFFF;
        }
        p{
            font-family: $inter;
            width: 551px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: rgba(255, 255, 255, 0.7);
            padding: 20px 0;
        }
        button {
            cursor: pointer;
            font-weight: 700;
            font-family: Helvetica,"sans-serif";
            transition: all .2s;
            padding: 10px 18px;
            border-radius: 100px;
            color: white;
            background: #231A36;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            font-size: 12px;
          }
          
        button:hover {
            background: #362a4e;
        }
          
        button > svg {
            width: 25px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
          
        button:hover svg {
            transform: translateX(5px);
        }
          
        button:active {
            transform: scale(0.95);
        }
    }
}



footer{
    height: 231px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    nav{
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: space-around;
        left: 0;
        align-items: center;
        z-index: 999;
        color: black;
    
        h2{
            font-family: Lekton;
            font-size: 34px;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;
        }
        ul{
            width: 325px;
            height: 19px;
            display: flex;
            justify-content: space-around;
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }

        div{
            svg{
                width: 15px;
                height: 15px;
                margin: 0px 10px;
            }
        }

    }
    span{
        width: 85%;
        margin: 0 40px;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.507);
    }
}



@media (max-width: 1035px) {

    #header{
        .main-container{
            .main-container-left{
                padding: 50px 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 0px 0 0px 150px;
                .main-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    h1{
                        font-size: 4.3rem;
                        line-height: normal;
                    }
                    p{
                        padding: 5px 0px 15px 0
                    }
                    button{
                        width: 160px;
                    }
                }
            }
        }

    }

    #community{
        .community-container{

        }
    }


    #service{
        margin: 80px 0;

        .service-text{
            margin-bottom: 50px;
        }
        .service-container{
            // gap: 100px;

            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // place-content: center;
            // place-items: center;
            
            .card{
                div{
                    top: 50%;
                    padding: 10px;
                }
            }
        }
    }

    #testimonal{
        .testimonal-container{
            // margin: 0px 30px;
        }
    }
  }





  @media (max-width: 895px){
    #header{
        .main-container{
            .main-container-left{
                padding: 0;
                .main-text{
                    h1{
                        font-size: 3.3rem;
                    }
                    p{
                        font-size: .8rem;
                        padding: 5px 0px 15px 0
                    }
                    button{
                        width: 160px;
                    }
                }
            }
        }
  }
}



@media (max-width: 690px){
    nav{
        button{
            display: none;
        }
    }
    #header{
        height: 700px;
        .main-container{
            .main-container-left{
                .main-text{
                    h1{
                        font-size: 2.5rem;
                    }
                    p{
                        padding: 10px 50px 15px 50px;
                    }
                }
            }
        }
    }
}