*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

$poppins :'Poppins';
$inter: 'Inter';

nav{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-around;
    left: 0;
    align-items: center;
    z-index: 999;
    color: white;
    margin-top: 30px;
    svg{
        width: 34px;
        display: none;
    }
    h2{
        font-family: Lekton;
        font-size: 34px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    ul{
        width: 325px;
        height: 19px;
        display: flex;
        justify-content: space-around;
        list-style: none;

        a{
            text-decoration: none;
            color: white;
        }
    }
    button{
        border-radius: 21px;
        padding: 11px;
        color: white;
        background-color: #ffffff50;
        border: 0px;
        cursor: pointer;
        z-index: 9999;
        transition: .2s;
    }
    button:hover{
        box-shadow: 0 0 40px 3px #ffffff50;
    }
}
#header{
    width: 100%;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: gray;
    
    .main-container{
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        // padding-top: 90px;
        h1{   
        left: 160px;
        top: 370px;
        font-family: $poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 94px;
        line-height: 108px;
        /* or 115% */
        color: #111439;
        background: linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    .main-container-left{
        padding: 50px 0 50px 50px;
        width: 50%;
        z-index: 1;
        p{
            padding: 18px 150px 25px 0;
            color: #425466;
        }
        h1{
            font-weight: bold;
            font-size: 5rem;
        }
        button {
            cursor: pointer;
            font-weight: 700;
            font-family: Helvetica,"sans-serif";
            transition: all .2s;
            padding: 10px 18px;
            border-radius: 100px;
            color: white;
            background: #231A36;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            font-size: 12px;
          }
          
        button:hover {
            background: #362a4e;
        }
          
        button > svg {
            width: 25px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
          
        button:hover svg {
            transform: translateX(5px);
        }
          
        button:active {
            transform: scale(0.95);
        }

          
    }
    .main-container-right{
        // background: url(image/trafic.svg);
        // background-position: right;
        // background-repeat: no-repeat;
        z-index: 2;
        width: 50%;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    }

    .header-linear{
        height: 480px;
        width: 100%;
        background: url(image/linear.svg);
        position: absolute;
        top: 0;
        z-index: -9999;
    }

    .brand{
        width: 100%;
        height: 116.26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            img{ 
                width: 100px;
                filter: grayscale(1);
            }
        }
    }
}




#feature{
    height: 604px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    .feature-head{
        width: 550px;
        text-align: center;
        margin: 20px 0px;
        h1{
            font-family: $poppins;
            font-weight: 600;
            font-size: 40px;
        }
        p{
            padding: 20px;
            color: #426666;
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;

        }
    }
    .feature-container{
        display: flex;
        align-items: center;
        max-width: 750px;
        margin: 0 0 0 50px;
        .feature-container-right{
            background: url(image/card1.svg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        h3{
            font-family: $inter;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #B33CDB;
        }
        h2{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: #1F1F26;
            padding: 13px 0;
        }
        p{
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #426666;
        }
        button{
            border: 0px;
            background-color: rgba(255, 255, 255, 0);
            padding: 20px 0;
            display: flex;
            font-weight: 400;
            cursor: pointer;
            svg{
                width: 1rem;
                height: 1rem;
            }
        } 
        button > svg {
            width: 20px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
          
        button:hover svg {
            transform: translateX(5px);
        }
          
        button:active {
            transform: scale(0.95);
        }
    }
}



#community{
    display: flex;
    justify-content: center;
    .community-container{
        max-width: 750px;
        margin: 0 50px 80px 0;
        height: 378px;
        display: flex;
        justify-content: center;
        align-items: center;
        .community-left{
            background: url(image/comunity.svg);
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .community-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            max-width: 750px;
            h3{
                font-family: $inter;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
    
                color: #FBBA33;
            }
            h2{
                font-family: $poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: #1F1F26;
                padding: 13px 0;
            }
            p{
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: #426666;
            }
            button{
                border: 0px;
                background-color: rgba(255, 255, 255, 0);
                padding: 20px 0;
                display: flex;
                font-weight: 400;
                cursor: pointer;
                svg{
                    width: 1rem;
                    height: 1rem;
                }
            } 
            button > svg {
                width: 20px;
                margin-left: 10px;
                transition: transform .3s ease-in-out;
            }
              
            button:hover svg {
                transform: translateX(5px);
            }
              
            button:active {
                transform: scale(0.95);
            }
        }
    }
}



#statistic{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #231A36;
    color: white;

    .statistic-text{
        max-width: 650px;
        margin: 0 70px;
        text-align: center;
        h1{
            font-family: $poppins;
            font-weight: 600;
            font-size: 2rem;
        }
        span{
            height: auto;
            font-family: $inter;
            font-size: 14px;
            color: #7B9292;
        }
    }

    .statistic-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        h2{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
        }
        p{
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #7B9292;
        }
    }
}




#service{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .service-text{
        width: 600px;
        margin: 0 60px;
        h1{
            font-family: $poppins;
            font-weight: 600;
            font-size: 40px;
        }
        p{
            font-family: $inter;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.01em;
        }
    }

    .service-container{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 90px;

        
        .card {
            width: 280px;
            height: 240px;
            position: relative;
            &.satu{
                background: url(image/admin1.svg);
                background-position: top;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &.dua {
                background: url(image/admin2.svg);
                background-position: top;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &.tiga {
                background: url(image/admin3.svg);
                background-position: top;
                background-size: contain;
                background-repeat: no-repeat;
            }
            div{
                width: 220px;
                // height: 175px;
                background-color: white;
                position: absolute;
                top: 70%;
                z-index: 1;
                text-align: left;
                padding: 20px;
                h2{
                    font-size: 1rem;
                    font-family: $poppins;
                    padding: 0 0 14px 0;
                    color: #010420;
                }    
                
                .stat{
                    display: flex;
                    width: 100%;
                    span{
                        width: 100%;
                    }
                    h3{
                        font-size: 24px;
                        font-family: $poppins;
                    }
                    p{
                        font-size: 10px;
                        font-family: $inter;
                        color: #ADADBA;
                    }
                }
                button{
                    border: 0px;
                    color: #B33CDB;
                    background-color: transparent;
                    padding: 20px 0;
                    display: flex;
                    font-weight: 400;
                    cursor: pointer;
                    svg{
                        width: 1rem;
                        height: 1rem;
                    }
                } 
                button > svg {
                    width: 20px;
                    margin-left: 10px;
                    transition: transform .3s ease-in-out;
                }
                  
                button:hover svg {
                    transform: translateX(5px);
                }
                  
                button:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}



#testimonial{
    width: 100%;
    height: 843px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    .testimonal-text{
        text-align: center;
        width: 551px;

        h1{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: #1F1F26;
        }

        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #426666;
        }

    }
    
    .testimonal-container{
        display: flex;
        max-width: 900px;
        height: 479px;
        margin: 0px 30px;
        align-items: center;
        .testimonal-container-left{
            padding: 0 40px;
            p{
                font-family: $inter;
                font-style: italic;
                font-weight: 500;
                font-size: 22px;
                line-height: 36px;
                color: #6D6D6D;
            }
            img{
                width: 100px;
                height: auto;
            }

            div{
                padding: 40px 0;
            }
        }
        .testimonal-container-right{
            img{    
                width: 300px;
                height: auto;
            }
        }
    }

}



#newsletter{
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    .newsletter-container{
        background: url(image/linear.svg);
        width: 976px;
        max-width: 976px;
        height: 322px;
        border-radius: 10px;
        margin: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: #FFFFFF;
        }
        p{
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: rgba(255, 255, 255, 0.7);
            padding: 20px 0;
        }
        button {
            cursor: pointer;
            font-weight: 700;
            font-family: Helvetica,"sans-serif";
            transition: all .2s;
            padding: 10px 18px;
            border-radius: 100px;
            color: white;
            background: #231A36;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            font-size: 12px;
          }
          
        button:hover {
            background: #362a4e;
        }
          
        button > svg {
            width: 25px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
          
        button:hover svg {
            transform: translateX(5px);
        }
          
        button:active {
            transform: scale(0.95);
        }
    }
}



footer{
    height: 231px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .footer{
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: space-around;
        left: 0;
        align-items: center;
        z-index: 999;
        color: black;
    
        h2{
            font-family: Lekton;
            font-size: 34px;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;
        }
        ul{
            width: 325px;
            height: 19px;
            display: flex;
            justify-content: space-around;
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }

        div{
            display: flex;
            a{
                color: black;
            }
            svg{
                width: 18px;
                height: 18px;
                margin: 0px 10px;
            }
        }

    }
    span{
        width: 85%;
        margin: 0 40px;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.507);
    }
}



@media (max-width: 1035px) {

    #header{
        justify-content: space-evenly;
        .main-container{
            .main-container-left{
                padding: 50px 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 0px 0 0px 150px;
                .main-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    h1{
                        font-size: 4.3rem;
                        line-height: normal;
                    }
                    p{
                        padding: 18px 0px 25px 0;
                    }
                    button{
                        width: 160px;
                    }
                }
            }
        }

    }


    #service{
        margin: 80px 0;

        .service-text{
            margin-bottom: 50px;
        }
        .service-container{
            // gap: 100px;

            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // place-content: center;
            // place-items: center;
            
            .card{
                div{
                    top: 50%;
                    padding: 10px;
                }
            }
        }
    }

  }





  @media (max-width: 895px){
    nav{
        h2{
            font-size: 28px;
        }
        ul{
            justify-content: space-evenly;
            a{
                font-size: .9rem;
            }
        }
    }
    #header{
        .main-container{
            .main-container-left{
                padding: 0;
                .main-text{
                    h1{
                        font-size: 3.3rem;
                    }
                    p{
                        font-size: .8rem;
                        padding: 5px 0px 15px 0
                    }
                    button{
                        width: 160px;
                    }
                }
            }
        }
  }
}



@media (max-width: 690px){
    nav{
        button{
            display: none;
        }
    }
    #header{
        height: 572px;
        margin-bottom: 160px;

        .header-linear{
            height: 357px;
        }
        .brand{
            div{
                img{
                    width: 75px;
                }
            }
        }
        .main-container{
            height: 80%;
            .main-container-left{
                .main-text{
                    h1{
                        font-size: 2.5rem;
                    }
                    p{
                        padding: 10px 50px 15px 50px;
                    }
                }
            }
        }
    }

    #feature{
        .feature-head{
            margin: 10px 0;
        }
    }

    #service{
        margin: 40px 0;
        height: 600px;
        .service-text{
            p{
                font-size: 10px;
            }
            h1{
                font-size: 30px;
            }
        }

        .service-container{
            width: 98%;
            gap: 50px;
            .card{
                width: 199px;
                height: 166px;

                div{
                    width: auto;
                    h2{
                        padding-bottom: 6px;
                        font-size: .8rem;
                    }
                    button{
                        align-items: center;
                        padding: 5px 0;
                        font-size: 10px;
                        svg{
                            width: 10px;
                        }
                    }
                    .stat{
                        h3{
                            font-size: 1rem;
                        }
                        p{
                            font-size: 7px;
                        }
                    }
                }
            }
        }    
    }


    #testimonial{
        height: 500px;
        margin-top: 100px;
        .testimonal-text{
            h1{
                font-size: 30px;
            }
            p{
                font-size: 13px;
            }
        }

        .testimonal-container{
            align-items: center;
            .testimonal-container-left{
                padding: 0 10px;
                p{
                    font-size: 16px;
                }
                img{
                    display: none;
                }
                
            }
            .testimonal-container-right{
                // width: 300px;
                img{
                    width: 200px;
                    // height: 100%;
                }
            }
        }
    }

    #newsletter{
        .newsletter-container{
            height: auto;
            max-width: 90%;
            margin: 50px;
            padding: 25px;
            h1{
                font-size: 35px;
                line-height: normal;
            }
            p{
                font-size: 10px;
            }
        }
    }
    


#community{
    .community-container{
        width: 100%;
        margin: 0;
        .community-left{
            width: 40%;
            background-size: contain;
            img{
                width: 100%;
            }
        }
        .community-right{
            width: 50%;
        }
    }
}

footer{
    .footer{
        ul{
            display: none;
        }
    }
}
}




// handphone
@media (max-width: 620px)   {

    nav{
            justify-content: space-around;
        ul{
            align-items: end;
            flex-direction: column;  
            opacity: 0;
            position: absolute;
            width: 100px;
            height: auto;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.247);
            padding: 15px;
            right: 25%;
            margin-top: 30px;
            transition: .5s;
            transform: translateY(30px);
            border-radius: 10px;
            li{
                padding-bottom: 5px;
            }
        }
        svg{
            display: block;
            cursor: pointer;
        }
    }
    footer{
        .footer{
            h2{
                font-size: 20px;
            }
        }
        div{
            svg{
                display: flex;
                width: 15px;
            }
        }
    }

    #header{
        height: 600px;
        justify-content: center;
        margin-bottom: 0px;
        .header-linear{
            height: 400px;
        }
        .brand{
            height: 80px;
            justify-content: space-evenly;
            span{
                font-size: .7rem;
            }
            div{
                img{
                    width: 45px;    
                }
            }
        }
        .main-container{
            justify-content: center;
            .main-container-left{
                width: 100%;
                .main-text{
                    h1{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
            .main-container-right{
                display: none;
            }
        }
    }



    #feature{
        height: 480px;
        justify-content: space-around;
        .feature-head{
            width: 100%;
            h1{
                font-size: 1.5rem;
            }
            p{
                font-size: 12px;
                padding: 10px 20px;
            }
        }
        .feature-container{
            margin-left: 15px;
            transform: translateX(15px);
            .feature-container-left{
                h3{
                    font-size: 10px;
                }
                h2{
                    font-size: 23px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
    #community{
        transform: translateX(-15px);
        .community-container{
            .community-right{
                h3{
                    font-size: 10px;
                }
                h2{
                    font-size: 23px;
                }
                p{
                    font-size: 12px;
                }
            }
            }
        }



    #statistic{
        height: 340px;
        .statistic-text{
            h1{
                font-size: 1.4rem;
            }
            span{
                font-size: 10px;
            }
        }
        .statistic-container{
            h2{
                font-size: 20px;
            }
            p{
                font-size: 12px;
            }
        }
    }


    #service{
        .service-text{
            width: auto;
            h1{
                font-size: 1.5rem;
            }
        }
        .service-container{
            gap: 35px;
        }
    }


    #testimonial{
        margin-top: 70px;
        .testimonal-text{
            width: auto;
            margin-bottom: 40px;
            h1{
                font-size: 1.5rem;
            }
            p{
                padding: 0 20px;
            }
        }
        .testimonal-container{
            .testimonal-container-left{
                p{
                    font-size: 13px;
                    
                }
                div{
                    h2{
                        font-size: 1.3rem;
                    }
                    span{
                        font-size: .8rem;
                    }
                }
            }
            .testimonal-container-right{
                img{
                    width: 155px;
                }
            }
        }
    }



    #newsletter{
        height: 250px;
        .newsletter-container{
            margin: 50px 20px;
            h1{
                font-size: 28px;
            }
            p{
                line-height: normal;
            }
        }
    }

}



@media (max-width: 460px){

    nav{
        h2{
            font-size: 20px;
        }
        svg{
            width: 23px;
        }
    }

    #header{
        height: 460px;
        .header-linear{
            height: 409px;
        }
        .main-container{
            .main-container-left{
                justify-content: center;
                .main-text{
                    h1{
                       font-size: 2rem; 
                    }
                    p{
                        padding: 10px 30px;
                    }
                }
            }
        }
        .brand{
            margin: 30px 0;
            div{
                flex-wrap: wrap;
                gap: 10px;
                margin: 20px;
            }
        }
    }

    #feature{
        height: 355px;
        margin-top: 0px;
        justify-content: space-between;
        height: auto;
        .feature-head{
            margin-bottom: 30px;
            h1{
                font-size: 23px;
                padding: 0 10px;
            }
            p{
                line-height: 18px;
                font-size: 12px;
            }
        }
        .feature-container{
            text-align: center;
            transform: translateX(0);
            margin-left: 0;
            .feature-container-left{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 30px;
                p{
                    padding: 0 10px;
                }
                h2{
                    padding: 6px 10px;
                }
            }
            .feature-container-right{
                display: none;
                justify-content: center;
            }
        }
    }


    #community{
        transform: translateX(0);
        margin-bottom: 15px;
        .community-container{
            height: auto;
            .community-left{
                display: none;
            }
            .community-right{
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-bottom: 30px;
                p{
                    padding: 0 10px;
                }
                h2{
                    padding: 6px 10px;
                }
            }
        }
    }


    #statistic{
        height: auto;
        .statistic-container{
            flex-wrap: wrap;
            gap: 12px;
            padding-bottom: 50px;
            padding-top: 20px;
        }
        .statistic-text{
            margin: 0px 20px;
            padding-top: 50px;
            padding-bottom: 20px;
            h1{
                font-size: 1.2rem;
            }
        }
    }


    #service{
        height: auto;
        .service-container{
            gap: 10px;
            .card{
                width: 120px;
                div{
                    padding: 5px;
                    h2{
                        font-size: 0.55rem;
                        padding-bottom: 2px;
                    }
                    .stat{
                            h3{
                                font-size: .7rem;
                            }
                    }
                }
            }
        }
    }

    #testimonial{
        height: auto;
        margin: 70px 0;
        .testimonal-text{
            margin-bottom: 60px;
        }
        .testimonal-container{
            margin: 0 10px;
            text-align: center;
            height: auto;
            flex-direction: column-reverse;
            .testimonal-container-left{
                div{
                    padding: 0;
                }
            }
        }
    }


}
