* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  height: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: gray;
}
#header nav {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-around;
  left: 0;
  align-items: center;
  z-index: 999;
  color: white;
}
#header nav h2 {
  font-family: Lekton;
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
#header nav ul {
  width: 325px;
  height: 19px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#header nav ul a {
  text-decoration: none;
  color: white;
}
#header nav button {
  border-radius: 21px;
  padding: 11px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3137254902);
  border: 0px;
  cursor: pointer;
  z-index: 9999;
}
#header .main-container {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
#header .main-container h1 {
  left: 160px;
  top: 370px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 94px;
  line-height: 108px;
  /* or 115% */
  color: #111439;
  background: linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header .main-container .main-container-left {
  padding: 50px 0 50px 50px;
  width: 50%;
  z-index: 1;
}
#header .main-container .main-container-left p {
  padding: 5px 150px 15px 0;
  color: #425466;
}
#header .main-container .main-container-left h1 {
  font-weight: bold;
  font-size: 5rem;
}
#header .main-container .main-container-left button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 18px;
  border-radius: 100px;
  color: white;
  background: #231A36;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 12px;
}
#header .main-container .main-container-left button:hover {
  background: #362a4e;
}
#header .main-container .main-container-left button > svg {
  width: 25px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
#header .main-container .main-container-left button:hover svg {
  transform: translateX(5px);
}
#header .main-container .main-container-left button:active {
  transform: scale(0.95);
}
#header .main-container .main-container-right {
  z-index: 2;
  width: 50%;
  height: 706px;
}
#header .main-container .main-container-right img {
  height: 100%;
  width: 100%;
}
#header .header-linear {
  height: 480px;
  width: 100%;
  background: url(image/linear.svg);
  position: absolute;
  top: 0;
  z-index: -9999;
}
#header .brand {
  width: 100%;
  height: 116.26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#header .brand div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#header .brand div img {
  width: 100px;
  filter: grayscale(1);
}

#feature {
  height: 604px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
#feature .feature-head {
  width: 550px;
  text-align: center;
  margin: 20px 0px;
}
#feature .feature-head h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
}
#feature .feature-head p {
  padding: 20px;
  color: #426666;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}
#feature .feature-container, #feature .communtiy-right {
  display: flex;
  align-items: center;
  max-width: 750px;
}
#feature .feature-container h3, #feature .communtiy-right h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #B33CDB;
}
#feature .feature-container h2, #feature .communtiy-right h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #1F1F26;
  padding: 13px 0;
}
#feature .feature-container p, #feature .communtiy-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #426666;
}
#feature .feature-container button, #feature .communtiy-right button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 0;
  display: flex;
  font-weight: 400;
  cursor: pointer;
}
#feature .feature-container button svg, #feature .communtiy-right button svg {
  width: 1rem;
  height: 1rem;
}
#feature .feature-container button > svg, #feature .communtiy-right button > svg {
  width: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
#feature .feature-container button:hover svg, #feature .communtiy-right button:hover svg {
  transform: translateX(5px);
}
#feature .feature-container button:active, #feature .communtiy-right button:active {
  transform: scale(0.95);
}

#community {
  display: flex;
  justify-content: center;
}
#community .community-container {
  width: 750px;
  height: 378px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#community .community-container .communtiy-left img {
  height: auto;
}
#community .community-container .communtiy-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  max-width: 750px;
}
#community .community-container .communtiy-right h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FBBA33;
}
#community .community-container .communtiy-right h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #1F1F26;
  padding: 13px 0;
}
#community .community-container .communtiy-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #426666;
}
#community .community-container .communtiy-right button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 0;
  display: flex;
  font-weight: 400;
  cursor: pointer;
}
#community .community-container .communtiy-right button svg {
  width: 1rem;
  height: 1rem;
}
#community .community-container .communtiy-right button > svg {
  width: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
#community .community-container .communtiy-right button:hover svg {
  transform: translateX(5px);
}
#community .community-container .communtiy-right button:active {
  transform: scale(0.95);
}

#statistic {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #231A36;
  color: white;
}
#statistic .statistic-text {
  max-width: 650px;
  margin: 0 70px;
  text-align: center;
}
#statistic .statistic-text h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
}
#statistic .statistic-text span {
  height: auto;
  font-family: "Inter";
  font-size: 14px;
  color: #7B9292;
}
#statistic .statistic-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#statistic .statistic-container h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}
#statistic .statistic-container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #7B9292;
}

#service {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
#service .service-text {
  max-width: 600px;
  margin: 0 60px;
}
#service .service-text h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
}
#service .service-text p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
}
#service .service-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#service .service-container div {
  width: 300px;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#service .service-container div:nth-of-type(1) {
  background: url(image/admin1.svg);
}
#service .service-container div:nth-of-type(2) {
  background: url(image/admin2.svg);
}
#service .service-container div:nth-of-type(3) {
  background: url(image/admin3.svg);
}
#service .service-container span {
  width: 360px;
  height: 300px;
}/*# sourceMappingURL=style.css.map */